.resume {
	margin: 0 auto;
	padding: 107px 24px 72px;
	max-width: 100%;
	min-height: 100vh;
}

.resume__button {
	box-sizing: border-box;
	display: inline-block;
	padding: 12px;
	width: 100%;
	font-size: 16px;
	color: white;
	text-align: center;
	text-decoration: none;
	background-color: var(--light-blue);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.resume__title {
	margin-top: 24px;
	font-size: 24px;
	color: rgba(255, 255, 255, 0.8);
}

.resume__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
	margin-top: 16px;
}

.resume__item {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.7);
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
	.resume {
		padding: 78px 24px 72px;
		max-width: 1100px;
	}

	.resume__button {
		padding: 12px 24px;
		width: auto;
	}

	.resume__list {
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
	}
}

/* Media query for even larger screens */
@media screen and (min-width: 1024px) {
	.resume__list {
		grid-template-columns: repeat(4, 1fr);
	}
}

.cv {
	margin-top: 0;
	margin-bottom: 16px;
}