.header {
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: var(--dark-blue);
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	max-width: 100%;
}

.header__title {
	font-size: 24px;
	font-weight: 700;
	color: white;
	opacity: 0.7;
}

.hamburger {
	display: block;
	cursor: pointer;
	padding: 10px;
}

.hamburger span {
	display: block;
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px 0;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
	.header__container {
		max-width: 1100px;
		margin: 0 auto;
		padding: 0 24px;
	}

	.hamburger {
		display: none;
	}
}